@import "_vars";
@import "_global";
@import "_fonts";

@mixin button-style {
  text-align: center;
  color: #fff;
  font-weight: 500;
  outline: transparent;
  font-family: "Quicksand";
  background-color: $color-1;
  border: 1px solid $color-1;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

@mixin button-state-hover {
  background-color: transparent;
  color: $color-1;
  font-weight: 600;
  box-shadow: 0 0 0 1px $color-1;
}

@mixin button-state-focus {
  background-color: transparent;
  color: $color-2;
  font-weight: 600;
  border-color: $color-2;
  box-shadow: 0 0 0 1px $color-2;
}

@mixin button-state-active {
  background-color: #5578f852;
}

.top-header {
  padding: 27px 0 25px 0;
  background-color: #eef1f3;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left-pannel {
    display: flex;
    align-items: center;
  }

  &__seller-link {
    @include button-style();
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 14px;
    height: 38px;
    margin-right: 50px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    @include button-style;

    &:hover {
      @include button-state-hover;
    }

    &:focus {
      @include button-state-focus;
    }

    &:active {
      @include button-state-active;
    }
  }

  &__menu {
    margin-right: 45px;
  }

  &__menu-item {
    display: inline-block;
    position: relative;
  }

  &__menu-item + &__menu-item {
    margin-left: 33px;
  }

  .lnr-alarm::before {
    //   content: '\e858';
    font-size: 20px;
    line-height: 7px;
  }

  .lnr-envelope::before {
    // content: '\e858';
    font-size: 20px;
    line-height: 7px;
  }

  .lnr-cart::before {
    // content: '\e858';
    font-size: 20px;
    line-height: 7px;
  }

  &__notif {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 4px 7px;
    line-height: 1;
    border-radius: 50px;
    position: absolute;
    top: -20px;
    left: 11px;

    &--red {
      background-color: #ff6a6c;
    }

    &--green {
      background-color: #62d03b;
    }

    &--blue {
      background-color: $color-1;
    }
  }

  &__user-img {
    background-color: #7c7979;
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }

  &__user-menu {
    display: block;
    display: flex;
  }

  &__user-info {
    margin-left: 25px;
  }

  &__user-name {
    color: #3f4040;
    font-weight: 500;
  }

  &__balance {
    color: $color-1;
  }
}

.logo__img {
  width: 200px;
  height: 50px;
}

.header-menu {
  padding: 32px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    list-style: none;
  }

  &__nav-item {
    display: inline-block;
  }

  &__nav-item + &__nav-item {
    margin-left: 32px;
  }

  &__nav-link {
    font-weight: 500;
    transition: color 0.3s;
  }

  &__nav-link:hover {
    color: $color-1;
  }
}

.drop-down__list {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  width: 200px;
  padding: 10px 5px;
  z-index: 1;
}

.menu-search {
  &__input {
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    padding: 0 23px;
    height: 45px;
    width: 360px;
    position: relative;
    outline: transparent;

    &:focus {
      border: 2px solid $color-1;
    }
  }

  &__input::placeholder {
    font-size: 15px;
    line-height: 2;
  }

  &__btn {
    background-color: $color-1;
    border-radius: 30px;
    outline: transparent;
    border: none;
    width: 70px;
    height: 44px;
    position: relative;
    top: 1px;
    right: 74px;
    font-size: 15px;
    line-height: 2;
    color: #fff;
    @include button-style;

    &:focus,
    &:hover {
      box-shadow: 0 0 0px 2px $color-1;
      border: none;
    }

    &:active {
      @include button-state-active;
    }
  }
}

.welcome {
  margin-bottom: 100px;
  text-align: center;
  background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  padding: 173px 0 236px;

  &__title {
    font-size: 60px;
    color: rgb(243, 243, 248);
    line-height: 1.167;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  &__thumbnail {
    font-weight: 600;
    display: block;
  }

  &__subtitle {
    font-size: 20px;
    font-family: "Quicksand";
    color: rgb(243, 243, 248);
    line-height: 3.6;
    font-weight: 500;
  }

  &__btn {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 35px;
    padding: 20px 32px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    transition: 0.4s all;
  }

  &__btn:hover {
    background-color: #ffffff;
    color: $color-1;
  }

  &__btn:focus {
    box-shadow: 0 0 2px 2px #ffffff;
  }

  &__btn:active {
    box-shadow: 0 0 1px 4px $color-2;
    color: $color-2;
  }

  &__btn + &__btn {
    margin-left: 30px;
  }
}

.search-product {
  background-color: #ffffff;
  padding: 40px;
  top: -30px;
  position: relative;
  top: 300px;
  border-radius: 6px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.158);
  text-align: left;
  z-index: 3;
  display: flex;

  &__input {
    padding: 20px 30px;
    width: 614px;
    height: 55px;
    outline: transparent;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px 0 0 4px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    &:focus {
      box-shadow: 0 0 0px 1px $color-1;
      border: 1px solid $color-1;
    }
  }

  &__input::placeholder {
    color: #676767;
  }

  &__filter {
    outline: transparent;
    padding: 19px 30px;
    height: 55px;
    border: 1px solid rgb(220, 220, 220);
    border-left: none;
    border-radius: 0 4px 4px 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #676767;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icons/lnr-chevron-down.svg) 90% / 12px no-repeat;
    &:focus {
      box-shadow: 0 0 0px 1px $color-1;
      border: 1px solid $color-1;
    }
  }

  &__submit-btn {
    display: inline-block;
    border-radius: 4px;
    margin-left: 28px;
    padding: 14px 60px;
    max-width: 223px;
    font-size: 16px;

    @include button-style;

    &:hover {
      @include button-state-hover;
    }

    &:focus {
      @include button-state-focus;
    }

    &:active {
      @include button-state-active;
    }
  }
}

// .welcome .search-product::before {

//   content: "";
//   border-radius: 6px;
//   background-color: rgba(173, 17, 17, 0.502);
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: 0 !important;
// }
// .welcome .search-product:after {
//   content: "";
//   border-radius: 6px;
//   background-color: rgba(255, 255, 255, 0.502);
//   display: block;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: 0;
// }

.features {
  padding: 85px 0 95px;

  &__inner {
    display: flex;
  }

  .feature {
    transition: all 0.4s;
    max-width: 360px;
    padding: 40px 35px 45px;
    text-align: center;

    &__img {
      margin-bottom: 35px;
    }

    &__title {
      margin-bottom: 35px;
      font-size: 24px;
      font-family: "Quicksand";
      color: rgb(0, 0, 0);
      line-height: 0.3;
    }

    &__descr {
      color: rgb(85, 85, 85);
      line-height: 1.875;
    }
  }
  .feature + .feature {
    margin-left: 30px;
  }
  .feature:hover {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.158);
    transform: scale(1.04);
  }
}
// .psd-icon {
//   background-image: url(../images/icons/plugin.svg);

// }

// .wordpress-icon {
//   background-image: url(../images/icons/wordpress.svg);
// }

// .html-icon {
//   background-image: url(../images/icons/html-icon.svg);
// }

//common product properties
//common product properties
//common product properties
//common product properties

.products-section-title {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 37px 30px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}

.product__tag-btn {
  display: inline-block;
  background-color: #f1f3f6;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 25px;
  outline: transparent;
  transition: all 0.2s;
  border: transparent;
  color: #747b86;
  cursor: pointer;
  padding: 7px 20px;
  line-height: 1.2;
   &:hover {
    color: #fff;
    font-weight: 500;
    background-color: $color-1;
  }
}

.tag-btn--states {
  &:focus {
    box-shadow: 0 0 0 2px $color-1;
    color: $color-1;
    font-weight: 500;
  }
  &:active {
    box-shadow: 0 0 2px 3px $color-2;
  }


}

.product {
  &__title {
    display: block;
    color: #000;
    font-weight: 500;
    line-height: 1.5;
    outline: none;
  }

  &__img-btn {
    outline: transparent;
    transition: all 0.3s;
    border: 1px solid #e6e7e8;
    border-radius: 45px;
    padding: 0 28px;
    font-size: 15px;
    font-weight: 500;
    line-height: 3;
    text-align: center;
    color: #e6e7e8;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }

  &__img-btn + &__img-btn {
    margin-left: 11px;
  }

  &__img-btn:hover {
    color: $color-1;
    background-color: #e6e7e8;
  }
  &__img--hover {
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    background-image: linear-gradient(180deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    top: 0;
    left: 0;
  }

  &__img--hover:hover {
    opacity: 0.962;
    z-index: 2;
  }

  &__author {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__author-link {
    display: flex;
    align-items: center;
    outline: transparent;
  }

  &__author-name {
    font-weight: 500;
    margin-left: 5px;
    display: inline-block;
    line-height: 1.2;
  }

  &__author-avat {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
  }

  &__price {
    display: inline-block;
    font-size: 15px;
    line-height: 2;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;
  }

  &__sales,
  &__favourites {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: transparent;
    font-size: 15px;
    cursor: pointer;
    color: #7e7e7e;
  }

  &__heart::before {
    color: #7347c1;
  }

  &__sales {
    color: $color-1;
  }
}

.product-tag {
  display: inline-block;
  position: relative;
  line-height: 1.5;
  font-size: 15px;
  color: rgb(115, 71, 193);
  margin-left: 45px;
  cursor: pointer;
  outline: transparent;
}

.product-tag-icon {
  display: inline-block;
  font-size: 0px;
  position: absolute;
  top: 2px;
  left: -22px;
  outline: transparent;
}

.rate-stars {
  display: inline-block;
  text-align: right;
}

.lnr-chevron-left:before,
.lnr-chevron-right:before {
  font-size: 21px;
}

//common product properties
//common product properties
//common product properties
//common product properties

.featured-products {
  padding: 120px 0;
  background-color: #eff1f5;

  &__title {
    position: relative;
  }

  .slider-arrow {
    width: 60px;
    height: 43px;
    font-size: 14px;
    color: #fff;
    top: -105px;
    background-color: $color-3;
    position: absolute;
   transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 3px 2px rgba(84, 25, 187, 0.911);
    }
  }

  .slider-arrow::before {
    display: none;
  }

  .slick-prev {
    left: auto;
    right: 91px;
    border-radius: 30px 0 0 30px;
    transition: box-shadow 0.1s;
  }

  .slick-next {
    right: 31px;
    border-radius: 0 30px 30px 0;
  }

  &__slider {
    min-height: 450px;
  }
}

.featured-item {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  position: relative;
  min-height: 450px;

  &__img-block {
    max-width: 550px;
    height: 450px;
    width: 45vw;
    position: relative;
    display: inline-block;
  }

  &__img {
    height: 450px;
    max-width: 550px;
    object-fit: cover;
    width: 45vw;
  }

  &__img--hover {
    height: 450px;
    max-width: 550px;
    width: 45vw;
  }

  &__info {
    display: inline-block;
    padding: 40px 52px 20px;
    max-width: 586px;
    position: absolute;
  }

  &__title {
    font-size: 24px;
    max-width: 330px;
    margin-bottom: 10px;
  }

 

  &__tag-btn {
    margin-bottom: 40px;
  }

  &__descr {
    max-width: 580px;
    line-height: 30px;
    color: #555555;
    font-size: 16px;
    margin-bottom: 35px;
  }

  &__bottom {
    padding: 26px 0;
    border-top: 1px solid #ececec;
    position: relative;
  }

  &__stars {
    position: relative;
    top: -23px;
    left: 400px;
  }

  &__price {
    background-color: $color-1;
    color: #fff;
    margin-right: 15px;
    padding: 0 20px;
  }
}

.new-release {
  background-color: #f2f4f8;
  padding: 120px 0 70px;
  
&__catalogue {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 60px;
  }
 
 &__tags {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  &__all-prod-btn {
    cursor: pointer;
    display: block;
    padding: 20px;
    max-width: 190px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    line-height: 1.3;
    border-radius: 50px;
    outline: transparent;
    @include button-style;
 &:hover {
      @include button-state-hover;
    }

    &:focus {
      @include button-state-focus;
    }

    &:active {
      @include button-state-active;
    }
  }



}

   
.new-product,
.feed-product {
  max-width: 361px;
  background-color: #ffffff;

  &__img-block {
    max-width: 361px;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__img--hover {
    max-width: 361px;
    width: 100%;
    height: 100%;
  }

  &__info {
    padding: 19px 29px;
    position: relative;
  }

  &__title {
    margin-bottom: 13px;
    font-size: 20px;
  }

  &__price {
    background-color: #e6f1fd;
    color: $color-1;
    padding: 0 16px;
  }

  &__sales {
    position: relative;
    top: 0;
    left: 130px;
  }

  &__descr {
    color: #555555;
    font-size: 16px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 30px;
    line-height: 30px;
  }

  &__bottom {
    padding: 16px 0 0;
  }
  &__stars {
    position: relative;
    top: -23px;
    left: 128px;
    margin-left: 5px;
  }
}







// 11

.follower-feed {
  padding: 120px 0 100px;
  background-color: #eff1f5;

  &__title {
    position: relative;
  }

  .catalogue-arrow {
    outline: none;
    border: none;
    width: 60px;
    height: 43px;
    font-size: 14px;
    color: #fff;
    top: -120px;
    background-color: $color-1;
    position: absolute;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 3px 1px $color-2;
    }
    &:active {
       box-shadow: 0 0 2px 2px $color-2;
    }
  }

  .catalogue-arrow::before {
    display: none;
  }

  .prev-arrow {
    
    left: auto;
    right: 94px;
    border-radius: 30px 0 0 30px;
  }

  .next-arrow {
    right: 35px;
    border-radius: 0 30px 30px 0;
  }
}


.facts {
 background-color: #212225;
padding: 90px 0;

&__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
&__item {
  color: #fff;
}
&__number {
font-size: 36px;
// display: block;

&--red{
color: #ff6a6d;
}
&--blue {
 color: #58c9e9;
}
&--green {
  color:#77de51 ;
}
&--yellow {
color: #feb71d;
}
}

&__icon {
  display: block;
  font-size: 48px;
}

}



.briefcase {
  
  font-family: "Linearicons";
  color: rgb(254, 183, 29);
  line-height: 0.75;
  text-align: left;
  position: absolute;
  left: 416px;
  top: 5221.5px;
  z-index: 279;
}
